body{
    background-color: grey;
}
h1{
    display: flex;
    justify-content: center;
}
i{
    padding: 4px;
}
form{
    width: 27%;
    display: flex;
    flex-direction: column;
    margin-left: 37%;
}
input{
    margin-bottom: 7px;
    padding: 4px;
    
}
.formData{
    background-color: white;
    padding: 20px;
}
button{
    margin-left: 47%;
    background-color: green;
    color: white;
    border-radius: 5px;
    padding: 7px;
    border-color: white;
}
.employee th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: center;
    background-color: #4CAF50;
    color: white;
    border: 1px ;
    padding: 8px;
}
.tableData{
    padding: 20px;
    margin-left: 33%;
    margin-top: 50px;
}
.employee td{
    border: 1px ;
    padding: 8px;
    background-color: white;
    text-align: center;
}